body {
	background-color: #595959;
}

.topbox {
	background-color: #8c8c8c;
	border-radius: 10px;
	box-shadow: 10px 10px 5px black;
	margin: auto;
	width: 1500px;
	height: 180px;
	bottom: 20px;
	z-index: -1;
}

.doft{
	position: absolute;
	height: 130px;
	padding-top:25px;
}

.loupe {
	position: relative;
	left: 1150px;
	height: 180px;
	top: 30px;
}

.reload_link {
	position: relative;
	bottom: 140px;
	left: 1140px;
}

.reload {
	position: relative;
	height: 25px;
}

.close_link {
	position: relative;
	left: 1110px;
	bottom: 5px;
}
.close {
	position: relative;
	height: 25px;
}

.centerbox {
	background-color: #8c8c8c;
	border-radius: 10px;
	box-shadow: 10px 10px 5px black;
	margin: auto;
	margin-top: 20px;
	width: 1050px;
	height: 700px;
	z-index: -1;
}

.cluster {
	padding: 15px;
	width: 1020px;
	height: 670px;
}

.ikea {
	display: block;
	position: relative;
	width: 200px;
	height: 200px;
	bottom: 300px;
	left: 300px;
}

.apple {
	display: block;
	position: relative;
	width: 200px;
	height: 200px;
	bottom: 500px;
	left: 800px;
}

.leftbox {
	position: relative;
	background-color: #8c8c8c;
	border-radius: 10px;
	box-shadow: 10px 10px 5px black;
	margin: auto;
	width: 160px;
	height: 500px;
	bottom: 700px;
	right: 650px;
}

.arrow {
	position: relative;
	height: 90px;
	left: 35px;
	top: 20px;
}

.main {
	position: relative;
	height: 90px;
	left: 35px;
	top: 20px;
}

.oeil {
	position: relative;
	border: 5px solid red;
	border-radius: 5px;
	left: 40px;
	top: 30px;
}

.outil {
	position: relative;
	width: 90px;
	top: 30px;
	left: 35px;
}

.chat {
	position: relative;
	width: 90px;
	top: 30px;
	left: 30px;
}

.rightbox {
	position: relative;
	background-color: #8c8c8c;
	border-radius: 10px;
	box-shadow: 10px 10px 5px black;
	margin: auto;
	width: 160px;
	height: 500px;
	bottom: 1200px;
	left: 650px;
	z-index: -2;
}

.book {
	position: relative;
	width: 90px;
	left: 35px;
	top: 15px;
}

.towel{
	position: relative;
	width: 90px;
	left: 35px;
	top: 20px;
}

.wall {
	position: relative;
	top: 20px;
	left: 15px;
	width: 150px;
	height: 100px;
	z-index: -1;
}

.brick {
	position: relative;
}

.col2 {
	right: 4px;
}

.col3 {
	right: 8px;
}

.col4 {
	right: 12px;
}

.row2 {
	bottom: 4px;
}

.row3 {
	bottom: 8px;
}

.block {
	position: relative;
	background-color: #8c8c8c;
	left: 15px;
	width: 130px;
	height: 24px;
	bottom: 8px;
}

.box2 {
	position: relative;
	background-color: #99ff99;
	margin: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 5px black;
	height: 180px;
	width: 500px;
	bottom: 1100px;
	right: 550px;
}

.text {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
}

.p1 {
	position: relative;
	top: 25px;
	left: 10px;
}

.p2 {
	position: relative;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 33px;
	bottom: 38px;
	left: 55px;
}

.p3 {
	position: relative;
	bottom: 95px;
	left: 150px;
}

.p4 {
	position: relative;
	bottom: 105px;
	left: 10px;
}

.p5 {
	position: relative;
	text-shadow: 5px 5px 5px orangered, 5px 5px 5px #4d4d4d;
	bottom: 138px;
	left: 25px;
}

.p6 {
	position: relative;
	bottom: 171px;
	left: 112px;
}

.p7 {
	position: relative;
	font-style: italic;
	bottom: 180px;
	left: 10px;
}

.search {
	position: relative;
	bottom: 190px;
	left: 10px;
}

.search input[type=text] {
	border: 2px inset lightgrey;
	width: 350px;
}

.button{
	position: relative;
	bottom: 211px;
	left: 370px;
}

.button button[type=button] {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	width: 80px;
	background-color: #f2f2f2;
	border: 1px solid grey;
	border-radius: 2px;
}
