body {
	width: 100%;
	height: 100%;
}

h1 {
	text-align: center;
	font-size: 2.5vmin;
}

table {
	column-width: 2vmin;
	border-collapse: collapse;
	empty-cells: hide;
}

th {
	text-align: center;
	width: 6vmin;
	height: 3vmin;
	font-size: 1.5vmin;
}

td {
	text-align: right;
	width: 6vmin;
	font-size: 1vmin;
}

.num {
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
}

.name {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.weight {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

#nonmetal {
	background-color: chartreuse;
}

#noble {
	background-color: deepskyblue;
}

#alkali {
	background-color: orange;
}

#alkaline {
	background-color: yellow;
}

#metalloid {
	background-color: mediumaquamarine;
}

#post {
	background-color: mediumturquoise;
}

#transition {
	background-color: rosybrown;
}

#lanthanoid {
	background-color: salmon;
}

#actinoid {
	background-color: plum;
}
