body {
	background-color: #8c8c8c;
	font-family: monospace;
}

form {
	font-family: monospace;
}

.login {
	display: flex;
	margin: auto;
	width: 200px;
	flex-direction: column;
	background-color: grey;
	border: 2px solid black;
	border-radius: 5px;
	padding: 10px;
}

input[type=text], input[type=password] {
	border: 1px solid black;
	width: 100%;
}

input[type=submit] {
	float: right;
}

.account {
	display: flex;
	height: 25px;
	width: 200px;
	margin: auto;
	background-color: grey;
	align-items: center;
	justify-content: center;
	color: black;
	border: 2px solid black;
}

.spacer {
	margin: auto;
	height: 20vh;
}

.button_link{
	text-decoration: none;
}
